@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* layout */
.wrapper {
    display: flex;
    flex-flow: column;
    height: 95vh
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 0 1 auto
}
.body{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.error {
    color: red;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    left: -35px;

}
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}